---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/39.7456,-97.0892
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 8f8320e7
      X-Server-Id:
      - vm-lnx-nids-apiapp16.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1309b013
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/39.7456,-97.0892",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -97.089200000000005,
                    39.745600000000003
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/39.7456,-97.0892",
                "@type": "wx:Point",
                "cwa": "TOP",
                "forecastOffice": "https://api.weather.gov/offices/TOP",
                "gridId": "TOP",
                "gridX": 32,
                "gridY": 81,
                "forecast": "https://api.weather.gov/gridpoints/TOP/32,81/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/TOP/32,81/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/TOP/32,81",
                "observationStations": "https://api.weather.gov/gridpoints/TOP/32,81/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -97.086661000000007,
                            39.679375999999998
                        ]
                    },
                    "properties": {
                        "city": "Linn",
                        "state": "KS",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 7366.9851976443997
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 358
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/KSZ009",
                "county": "https://api.weather.gov/zones/county/KSC201",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/KSZ009",
                "timeZone": "America/Chicago",
                "radarStation": "KTWX"
            }
        }
  recorded_at: Wed, 25 Sep 2024 20:47:35 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/TOP/32,81/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - f9ad63a
      X-Server-Id:
      - vm-lnx-nids-apiapp3.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1309b21d
    body:
      encoding: UTF-8
      string: |-
        {
            "@context":[...]
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=<OPEN_WEATHER_API_KEY>&zip=98103
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"98103","name":"Seattle","lat":47.6733,"lon":-122.3426,"country":"US"}'
  recorded_at: Thu, 26 Sep 2024 00:14:25 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=47.6733&lon=-122.3426
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.3426,"lat":47.6733},"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"base":"stations","main":{"temp":289.09,"feels_like":289.06,"temp_min":288.03,"temp_max":290.2,"pressure":1006,"humidity":89,"sea_level":1006,"grnd_level":997},"visibility":10000,"wind":{"speed":3.13,"deg":206,"gust":4.47},"rain":{"1h":1.75},"clouds":{"all":100},"dt":1727309507,"sys":{"type":2,"id":2084372,"country":"US","sunrise":1727272856,"sunset":1727316041},"timezone":-25200,"id":5809844,"name":"Seattle","cod":200}'
  recorded_at: Thu, 26 Sep 2024 00:14:25 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=<OPEN_WEATHER_API_KEY>&zip=00000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"404","message":"not found"}'
  recorded_at: Thu, 26 Sep 2024 00:14:26 GMT
recorded_with: VCR 6.3.1
