---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=<OPEN_WEATHER_API_KEY>&zip=98103
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"98103","name":"Seattle","lat":47.6733,"lon":-122.3426,"country":"US"}'
  recorded_at: Wed, 25 Sep 2024 03:17:58 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=47.6733&lon=-122.3426
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.3426,"lat":47.6733},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":292.08,"feels_like":292.12,"temp_min":290.61,"temp_max":293.87,"pressure":1005,"humidity":80,"sea_level":1005,"grnd_level":996},"visibility":10000,"wind":{"speed":0.89,"deg":313,"gust":1.34},"clouds":{"all":0},"dt":1727234236,"sys":{"type":2,"id":2084372,"country":"US","sunrise":1727186375,"sunset":1727229765},"timezone":-25200,"id":5809844,"name":"Seattle","cod":200}'
  recorded_at: Wed, 25 Sep 2024 03:17:58 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=&lon=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"400","message":"Nothing to geocode"}'
  recorded_at: Wed, 25 Sep 2024 03:33:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=invalid&lon=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"400","message":"wrong latitude"}'
  recorded_at: Thu, 26 Sep 2024 03:44:07 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/47.6733,-122.3426
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 8587bda9
      X-Server-Id:
      - vm-lnx-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 45ffa4b0
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/47.6733,-122.3426",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -122.3426,
                    47.673299999999998
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/47.6733,-122.3426",
                "@type": "wx:Point",
                "cwa": "SEW",
                "forecastOffice": "https://api.weather.gov/offices/SEW",
                "gridId": "SEW",
                "gridX": 125,
                "gridY": 71,
                "forecast": "https://api.weather.gov/gridpoints/SEW/125,71/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/SEW/125,71/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/SEW/125,71",
                "observationStations": "https://api.weather.gov/gridpoints/SEW/125,71/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -122.350876,
                            47.620499000000002
                        ]
                    },
                    "properties": {
                        "city": "Seattle",
                        "state": "WA",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 5903.8537686001
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 6
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/WAZ558",
                "county": "https://api.weather.gov/zones/county/WAC033",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/WAZ654",
                "timeZone": "America/Los_Angeles",
                "radarStation": "KATX"
            }
        }
  recorded_at: Thu, 26 Sep 2024 04:11:07 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/SEW/125,71/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - '1265987'
      X-Server-Id:
      - vm-lnx-nids-apiapp15.ncep.noaa.gov
      X-Edge-Request-Id:
      - 45ffa50c
    body:
      encoding: UTF-8
      string: |-
        {
            "@conte[...]
