---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=<OPEN_WEATHER_API_KEY>&zip=98103
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"98103","name":"Seattle","lat":47.6733,"lon":-122.3426,"country":"US"}'
  recorded_at: Wed, 25 Sep 2024 03:17:58 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=47.6733&lon=-122.3426
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.3426,"lat":47.6733},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":292.08,"feels_like":292.12,"temp_min":290.61,"temp_max":293.87,"pressure":1005,"humidity":80,"sea_level":1005,"grnd_level":996},"visibility":10000,"wind":{"speed":0.89,"deg":313,"gust":1.34},"clouds":{"all":0},"dt":1727234236,"sys":{"type":2,"id":2084372,"country":"US","sunrise":1727186375,"sunset":1727229765},"timezone":-25200,"id":5809844,"name":"Seattle","cod":200}'
  recorded_at: Wed, 25 Sep 2024 03:17:58 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=&lon=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"400","message":"Nothing to geocode"}'
  recorded_at: Wed, 25 Sep 2024 03:33:47 GMT
recorded_with: VCR 6.3.1
