---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=<OPEN_WEATHER_API_KEY>&zip=98103
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"98103","name":"Seattle","lat":47.6733,"lon":-122.3426,"country":"US"}'
  recorded_at: Wed, 25 Sep 2024 01:55:16 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=47.6733&lon=-122.3426
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.3426,"lat":47.6733},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"base":"stations","main":{"temp":293.47,"feels_like":293.54,"temp_min":292.05,"temp_max":296.27,"pressure":1005,"humidity":76,"sea_level":1005,"grnd_level":996},"visibility":10000,"wind":{"speed":1.34,"deg":350,"gust":4.92},"clouds":{"all":11},"dt":1727229010,"sys":{"type":2,"id":2046585,"country":"US","sunrise":1727186375,"sunset":1727229765},"timezone":-25200,"id":5809844,"name":"Seattle","cod":200}'
  recorded_at: Wed, 25 Sep 2024 01:55:16 GMT
recorded_with: VCR 6.3.1
